<!--
  call newsletter library from here
  create an angular element
  create a build script to build the newsletter web component
  experiment with state management ngrx, compoent store, service with a subject
  check size of bundle
  create a bootstrap for the newsletter web component so that integration did not know about the version

-->
<div>{{ title }}</div>
<a class="w3-bar-item w3-button w3-padding" (click)="show = !show"
  >Newsletter</a
>
<org-news-letter [show]="show"></org-news-letter>
